.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 12px;
    height: 100vh;
    overflow: hidden;
}

.bottombar {
    display: none;
}

@media (max-width: 797px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    .bottombar {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}