.bgWrap {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.main {
  max-width: 1696px;
  margin: auto;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.description {
  margin-top: 168px;
}

.h1 {
  font-weight: 500;
  font-size: 80px;
  line-height: 82px;
  color: var(--white);
}

.p {
  font-weight: 400;
  font-size: 36px;
  line-height: 38px;
  color: var(--white);
}

.authFormWrapper {
  justify-self: flex-end;
  margin-top: 126px;

  border-radius: 26px;
}

.header {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px;
  max-width: 1728px;
  margin: 0 auto;
  font-size: 24px;
  gap: 24px;
}

.header a {
  color: white;
}

@media (max-width: 1696px) {
    .main {
      padding: 0 24px;
    }
}

@media (max-width: 1320px) {
  .main {
    grid-template-columns: 1fr;
    gap: 24px;
    padding-bottom: 48px;
    justify-items: center;
  }
  .authFormWrapper {
    justify-self: center;
    padding-right: 12px;
  }
}