.bgWrap {
    display: block;
    position: fixed;
    height: 260px;
    width: 100vw;
    z-index: -1;
}

.content {
    width: calc(100vw - 256px);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 12px;
    padding: 12px;
}

.preview {
    margin-top: 12px;
    padding: 12px;
}

.tabs {
    width: calc(100vw - 280px) !important;
}

.main {
    position: relative;
}

.upButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 24px;
    width: 45px;
    height: 45px;
    color: var(--white);
    background-color: var(--primary);
    border: none;
}

.upButton:hover {
    background-color: var(--primary-light);
}

.back {
    cursor: pointer;
    padding: 12px;
    margin: 12px;
    border: 1px solid var(--primary);
    width: 200px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

@media (max-width: 797px) {
    .content {
        width: 100%;
    }
    .tabs {
        width: 100% !important;
    }
    .tabs {
        padding-bottom: 220px;
    }
    .upButton {
        bottom: 135px;
    }
}